@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
:root {
    --main-color: #de2e30;
    --second-color: #000;
    --accent-color: #fff;
    --second-accent-color: #eadede
}
body{
    font-family: 'Lato', sans-serif;
}
* {
    margin: 0;
}

header {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top_bar,
.bottom_bar {
    display: none;
}

.logo_img {
    width: 70px;
}

.mobile_bar {
    color: var(--accent-color);
}

.mobile_bar i {
    font-size: 30px
}

@media(min-width: 768px) {
    .top_bar, .bottom_bar{
        display: flex;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px 20px
    }
    .logo{
        width: 10%;
    }
    .header-content{
        width: 90%;
    }
    .top_bar{
        justify-content: space-between;
        margin: 16px;
        align-items: center;
    }
    .top_bar_icons i{
        font-size: 21px;
        padding: 7px;
        border-radius: 50%;
        border: 2px solid var(--accent-color);
        margin-left: 10px;
        color: var(--accent-color);
    }
    .top_bar nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-right: 4px;
    }
    .top_bar nav ul li{
        color: var(--accent-color);
    }
    .top_bar nav ul a{
        text-decoration-color: var(--accent-color);
        text-underline-offset: 2px;
    }
    .mobile_bar {
        display: none
    }
    .top_bar_search i{
        color: var(--accent-color);
        font-size: 21px;
        border: 2px solid var(--accent-color);
        border-radius: 0px 40px 40px 0px;
        padding: 5px;
    }
    .top_bar_search input{
        border: none;
        padding: 7px;
        border-radius: 40px 0px 0px 40px
    };
}