@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
* {
    margin: 0;
}

header {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_img {
    width: 70px;
}
.top_bar_search, nav, .top_bar_icons, .bottom_bar{
    display: none;
}
.mobile_bar {
    color: var(--accent-color);
    margin-right: 20px;
}

.mobile_bar i {
    font-size: 30px
}
.logo:not(.top_bar){
    display: flex;
}
@media(min-width: 768px) {
    .top_bar_search, nav, .top_bar_icons, .bottom_bar{
        display: flex;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px 20px;
    }
    .header_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_bar{
        margin: 16px;
        align-items: center;
        display: flex;
        gap: 15px
    }
    .bottom_bar a{
        color: var(--accent-color);
        margin-right: 30px;
    }
    .top_bar_icons i{
        font-size: 21px;
        padding: 7px;
        border-radius: 50%;
        border: 2px solid var(--accent-color);
        margin-left: 10px;
        color: var(--accent-color);
    }
    .top_bar nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding: 5px;
    }
    .top_bar nav ul li{
        color: var(--accent-color);
    }
    .top_bar nav ul a{
        text-decoration-color: var(--accent-color);
        text-underline-offset: 2px;
    }
    .mobile_bar {
        display: none
    }
    .top_bar_search i{
        color: var(--accent-color);
        font-size: 15px;
        border: 2px solid var(--accent-color);
        border-radius: 0px 40px 40px 0px;
        padding: 5px;
    }
    .top_bar_search input{
        border: none;
        padding: 7px 0px;
        border-radius: 40px 0px 0px 40px;
        width: 200px;
    }
    .top_bar_search{
        display: flex;
        align-items: center;
    }
    .bottom_bar{
        margin: 0px 10px 10px;
        color: var(--accent-color);
    }
    .bottom_bar label{
        position: relative;
        margin-right: 30px;
    }
    .bottom_bar select{
        appearance: none;
        outline: 0;
        border: 0;
        box-shadow: none;
        position: absolute;
        color: #fff;
        background-color: transparent;
        background-image: none;
        cursor: pointer;
        right: 0;
        width: 100%;
        margin-top: 10px;
      }
}
@media(min-width: 1280px){
    .top_bar{
        gap: 80px;
    }
    .bottom_bar label{
        margin: 0 30px 0 30px
    }
    .top_bar nav ul{
        gap: 30px;
    }
  }