@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
:root {
    --main-color: #de2e30;
    --second-color: #000;
    --accent-color: #fff;
    --second-accent-color: #eadede
}
.capturaDatos{
text-align: center;
display: flex;
min-width: 300px;
justify-content: center;

}
form{
    margin-top: 55px;
  background-color: #fff;
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}
.Datos{
    width: 650px;
}
input .Datos{
    
    color: #c6c6c6;
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
    margin: 20px;
}
.boton{
    width: 250px;
    height: 30px;
    color: darkolivegreen;
}
 @media(min-width: 768px) { 
    .boton{
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px;
        color: white;
        background-color: red;
       
    
    }
    .boton:hover{
        background-color: transparent;
        border-color: #de2e30;
        color: red;
    }
}