@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
:root {
    --main-color: #de2e30;
    --second-color: #000;
    --accent-color: #fff;
    --second-accent-color: #eadede
}
.capturaDatos{
    margin: 5%;
    padding: 3%;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 5%;

}
main{
    display: flex;
    justify-content: center;
 }
form{
    
    margin: 5%;
    padding: 3%;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    background-color: #fff;
}

#Formulario{
    display: flex;
    flex-direction: column;
    width:90%;
 }

 label{
    font-weight: bold;
    display: flex;
 }

.boton{
    width: 250px;
    height: 30px;
    color: darkolivegreen;
}
 @media(min-width: 768px) { 
    #Button{
        display: flex;
        justify-content: center;
    }
    .boton{
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px;
        color: white;
        background-color: red;
       
    
    }
    .boton:hover{
        background-color: transparent;
        border-color: #de2e30;
        color: red;
    }
}