.container{
    margin: 30px;
}
.products-title{
    margin: 30px 10px;
}
.product-detail-price{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.product-detail-img{
    margin-bottom: 30px;
}
.buy-now-button{
    text-decoration: none;
}
.products-wrapper{
    margin: 15px;
    max-width: 1440px;
}
.products-wrapper .payment{
    padding-left: 0;
}
.detail_button{
    padding: 20px 30px;
    margin: 30px 0px;
    background-color: #de2e30;
    border-radius: 10px;
    border:none;
    transition: .5s all ease;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    min-width: 230px;
    display: block;
    width: -webkit-fill-available;
    font-family: 'Lato';
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
}
.detail_button:hover{
    background-color: transparent;
    border: 2px solid #de2e30;
    color: #de2e30;
}
.products_title_mobile{
    display: block
}
.products_title_desktop{
    display: none
}
.product-detail-description{
    line-height: 2
}
@media (min-width: 768px) {
    .products_title_mobile{
        display: none
    }
    .products_title_desktop{
        display: block
    }
    .product-detail-img{
        margin-top: 30px;
        width: 100%;
        margin-right: 30px;
        max-width: 600px;
        object-fit: contain;
    }
    .product-detail{
        display: flex;
        justify-content: center;
    }
    .product_description{
        max-width: 1085px;
        margin: auto;
    }
    .products-title{
        margin-bottom: 0px;
    }
    .product-detail-price{
        margin-bottom: 0px;
        margin-top: 0px;
    }
}