@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
:root {
    --main-color: #de2e30;
    --second-color: #000;
    --accent-color: #fff;
    --second-accent-color: #eadede
}

.edit_form{
text-align: center;
padding: 30px;
display: flex;
flex-direction: column;
}
.edit_form h2{
    margin-top: 30px;
}
.edit_form_main{
    margin-top: 30px;
    background-color: var(--accent-color);
    padding: 40px 0;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    width: 100%;
}
.edit_form_data{
    width: auto;
}
.edit_form input{
    color: var(--second-color);
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
    margin: 20px;
    width: -webkit-fill-available;
}
.edit_form textarea{
    color: var(--second-accent-color);
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
    margin: 20px;
    width: -webkit-fill-available;
}
.edit_form_category{
    margin-bottom: 30px;
}
.edit_form_category select{
    color: var(--second-color);
    font-size: 15px;
    padding: 10px;
    margin-top: 15px;
    margin: 20px 20px 0px;
    width: auto;
}
.edit_form_btn{
    height: 30px;
    border: 2px solid #de2e30;
    color: var(--main-color);
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.edit_form_btn:hover{
    background-color: var(--main-color);
    color: var(--accent-color);
}

 @media(min-width: 768px) { 
    .edit_form_main{
        max-width: 700px;
        display: flex;
        flex-wrap: wrap;
    }
    .edit_form_main .product_field{
        width: 50%;
    }
    .edit_form_main .second_product_field{
        width: 100%;
    }
    .edit_form{
        align-items: center;
        flex-direction: column;
    }
    .edit_form_btn{
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 5px;
        color: white;
        background-color: red;
    }
    .boton:hover{
        background-color: transparent;
        border-color: #de2e30;
        color: red;
    }
}