<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Home | Ferretería Belgrano</title>
</head>

<body>
    <header>
        <div><img src="/img/logo-png.png" alt="" class="logo_img"></div>
        <section class="top_bar">
            <div><input type="search" name="" id=""></div>
            <div>
                <nav></nav>
            </div>
            <div><i></i><i></i></div>
        </section>
        <section class="bottom_bar">
            <label for=""></label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for=""></label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for=""></label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for=""></label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <label for=""></label>
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </section>
        <section class="mobile_bar">
            <i class="fa-solid fa-bars"></i>
        </section>
    </header>
    <main>
        <!---Sección banner-->
        <section class="main_banner">
            <img src="" alt="">
        </section>
        <!---Sección medios de pago-->
        <section>
            <div class="payment_tabs">
                <div class="payment_tabs_tab">
                    <div>
                        <i></i>
                    </div>
                    <div>
                        <h3>Pagá en cuotas</h3>
                        <a href="http://">Ver promociones bancarias</a>
                    </div>
                </div>
                <div class="payment_tabs_tab">
                    <div>
                        <i></i>
                    </div>
                    <div>
                        <h3>Tarjeta de débito</h3>
                        <a href="http://">Ver más</a>
                    </div>
                </div>
                <div class="payment_tabs_tab">
                    <div>
                        <i></i>
                    </div>
                    <div>
                        <h3>Efectivo</h3>
                        <a href="http://">Ver más</a>
                    </div>
                </div>
                <div class="payment_tabs_tab">
                    <div>
                        <i></i>
                    </div>
                    <div>
                        <h3>Más medios de pago</h3>
                        <a href="http://">Ver más</a>
                    </div>
                </div>
            </div>
        </section>
        <!---Sección productos recomendados-->
        <section>
            <div>
                <h2>Productos recomendados</h2><a href="http://">Ver más</a>
            </div>
            <article class="product_carousel">
                <div class="product_carousel_card"><img src="" alt="">
                    <h3>$ Precio</h3>
                    <h4>Nombre del producto</h4>
                </div>
                <div class="product_carousel_card"><img src="" alt="">
                    <h3>$ Precio</h3>
                    <h4>Nombre del producto</h4>
                </div>
                <div class="product_carousel_card"><img src="" alt="">
                    <h3>$ Precio</h3>
                    <h4>Nombre del producto</h4>
                </div>
                <div class="product_carousel_card"><img src="" alt="">
                    <h3>$ Precio</h3>
                    <h4>Nombre del producto</h4>
                </div>
            </article>
        </section>
        <!---Sección Categorías-->
        <section>
            <div>
                <h2>Encontrá el producto que buscás</h2>
                <a href="http://">Ver todas las categorías</a>
            </div>
            <article class="category_cards">
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
                <div class="category_card">
                    <img src="" alt="">
                    <p>Nombre de categoría</p>
                </div>
            </article>
        </section>
    </main>
    <!---Footer-->
    <footer>
        <img src="" alt="">
        <div class="footer_info">
            <div class="footer_info_space">
                <i></i>
                <a href="//">Contacto</a>
            </div>
            <div class="footer_info_space">
                <i></i>
                <a href="//">Redes Sociales</a>
            </div>
            <div class="footer_info_space">
                <i></i>
                <a href="//">Dirección</a>
            </div>
        </div>
    </footer>
</body>

</html>