<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style_login.css">
    <title>Inicio de sesión</title>
</head>
<body>
    <header>
        <div class="header_content">
            <section class="top_bar">
                <div class="logo"><a href="/"><img src="/img/logo-png.png" alt="" class="logo_img"></a></div>
                <div class="top_bar_search"><input type="search" name="" id=""><i
                        class="fa-solid fa-magnifying-glass"></i></div>
                <div>
                    <nav>
                        <ul>
                            <a href="/">
                                <li>Inicio</li>
                            </a>
                            <a href="/">
                                <li>Sobre Nosotros</li>
                            </a>
                            <a href="/">
                                <li>Contáctanos</li>
                            </a>
                        </ul>
                    </nav>
                </div>
                <div class="top_bar_icons"><i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-user"></i>
                </div>
            </section>
            <section class="bottom_bar">
                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

            </section>
            <section class="mobile_bar">
                <i class="fa-solid fa-bars"></i>
            </section>
        </div>
    </header>
    <main>
        <form action="login.html" method="get">
            <div id="Formulario">
                <h1>Inicio de sesión</h1>
                <br>
                <div>
                    <label for="Usuario"> Nombre de usuario: </label>
                    <br>
                    <input type="text" name="Usuario" placeholder="Escriba aquí su nombre de usuario" id="Input" required>
                </div>
                <br>
                <div>
                    <label for="Contraseña"> Contraseña: </label>
                    <br>
                    <input type="password" name="Contraseña" placeholder="Escriba aquí su contraseña" id="Input" required>
                </div>
                <div class="Botones">
                    <input type="reset" value="Borrar todo" id="Botones">
                    <input type="submit" value="Enviar" id="Botones">
                </div>
            </div>
        </form>
    </main>
    
</body>
</html>