<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style_footer.css">
    <link rel="stylesheet" href="/css/style_cart.css">
    <title>Carrito de compras | Ferretería Belgrano</title>
</head>
<body>
    <header>
        <div class="header_content">
            <section class="top_bar">
                <div class="logo"><a href="/"><img src="/img/logo-png.png" alt="" class="logo_img"></a></div>
                <div class="top_bar_search"><input type="search" name="" id=""><i
                        class="fa-solid fa-magnifying-glass"></i></div>
                <div>
                    <nav>
                        <ul>
                            <a href="/">
                                <li>Inicio</li>
                            </a>
                            <a href="/">
                                <li>Sobre Nosotros</li>
                            </a>
                            <a href="/">
                                <li>Contáctanos</li>
                            </a>
                        </ul>
                    </nav>
                </div>
                <div class="top_bar_icons"><i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-user"></i>
                </div>
            </section>
            <section class="bottom_bar">
                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

            </section>
            <section class="mobile_bar">
                <i class="fa-solid fa-bars"></i>
            </section>
        </div>
    </header>
    <section>
    
        <h4 class="seleccionado"><a href="//">Tienda</a> >> <a href="//">Categoría</a> >> <a href="Carrito de compras">Carrito de compras</a></h4>
    </section>
       <!---Sección Mi carrito-->
    <main>
        <section><div><h2>Mi carrito</h2></div> 
           <ul type ="none">
               <article> 
                      <li><div><img src="/img/logo-png.png" width="150" alt= "Producto del carrito"></div><h3>Titulo de Producto</h3> </li> 
                      <li><h6 class= "eliminar"> eliminar</h6></li>
               </article>
                <article> 
                    <li> <img src="/img/logo-png.png" width="150" alt= "Producto del carrito"><h3>Titulo de Producto</h3> </li> 
                    <li><h6 class= "eliminar"> eliminar</h6></li>
               </article>
              <article> 
                 <li> <img src="/img/logo-png.png" width="150" alt= "Producto del carrito"><h3>Titulo de Producto</h3> </li> 
                 <li><h6 class= "eliminar"> eliminar</h6></li>
              </article>
            </ul>              
        </section>
    </main>
         <!---Footer-->
         <footer>
            <div class="footer_container">
                <div class="footer_logo">
                    <a href="/"><img src="/img/logo-png.png" alt="" class="footer_logo_img"></a>
                    <div class="footer_nav">
                        <ul>
                            <a href="/">
                                <li>Inicio</li>
                            </a>
                            <a href="/">
                                <li>Contacto</li>
                            </a>
                            <a href="/registro">
                                <li>Registro</li>
                            </a>
                            <a href="/login">
                                <li>Inicio de sesión</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="footer_about">
                    <h4>Sobre la compañía</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nesciunt molestias fuga ipsa, vero
                        adipisci consectetur autem, repudiandae unde minima dolore natus ea inventore qui repellendus id,
                        quo odit quas.</p>
                    <div class="footer_socials">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
            </div>
        </footer>

</body>


</html>