<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_product.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Producto | Ferretería Belgrano</title>
</head>
<body>
    <header>
        <div class="header_content">
            <section class="top_bar">
                <div class="logo"><a href="/"><img src="/img/logo-png.png" alt="" class="logo_img"></a></div>
                <div class="top_bar_search"><input type="search" name="" id=""><i
                        class="fa-solid fa-magnifying-glass"></i></div>
                <div>
                    <nav>
                        <ul>
                            <a href="/">
                                <li>Inicio</li>
                            </a>
                            <a href="/">
                                <li>Sobre Nosotros</li>
                            </a>
                            <a href="/">
                                <li>Contáctanos</li>
                            </a>
                        </ul>
                    </nav>
                </div>
                <div class="top_bar_icons"><i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-user"></i>
                </div>
            </section>
            <section class="bottom_bar">
                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

                <label for="">Categorías
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="" id="">
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </label>

            </section>
            <section class="mobile_bar">
                <i class="fa-solid fa-bars"></i>
            </section>
        </div>
    </header>

    <main>

        <h4 class="seleccionado"><a href="//">Tienda</a> >> <a href="//">Categoría</a> >> <a href="producto">Producto</a></h4>

        <h1>Nombre del producto</h1>

        <div class="fotos">
            <img class="foto-principal" src="/img/logo.jpg" alt="">
            <br>
            <div class="mas-fotos">
                <img class="foto02" src="/img/logo-png.png" alt="">
                <img class="foto03" src="/img/logo-png.png" alt="">
                <img class="foto04" src="/img/logo-png.png" alt="">
                <img class="foto05" src="/img/logo-png.png" alt="">
                <i id="flecha" class="fa-solid fa-angles-right"></i>
            </div>

        </div>

        <h2 id="precio">$Precio</h2>

        <section class="envios">

            <i id="truck" class="fa-solid fa-truck"></i>

            <h4>Envios a todo el país</h4>

            <div class="elegir-ciudad">
                <select id="buscar-ciudad">
                    <option disabled selected>Selecciona una ciudad</option>
                    <option value="ciudad01">ciudad 1</option>
                    <option value="ciudad02">ciudad 2</option>
                    <option value="ciudad03">ciudad 3</option>
                    <option value="ciudad04">ciudad 4</option>
                    <option value="ciudad05">ciudad 5</option>
                </select>
            </div>

            <h3 class="stock">Stock disponible</h3>
            
            <div class="cantidad">

                <h4 class="cantidad-texto">Cantidad:</h4>

                <select id="seleccionar-cantidad">
                    <option selected value="1">1 unidad</option>
                    <option value="2">2 unidades</option>
                    <option value="3">3 unidades</option>
                    <option value="4">4 unidades</option>
                    <option value="5">5 unidades</option>
                </select>
            
            </div>

        </section>

        <section class="botones">
            <button class="comprar">Comprar Ahora</button>
            <br>
            <button id="sumar-al-carrito">Agregar al carrito</button>
        </section>

        <section class="carateristicas">
            <h2>Características Principales</h2>
            <table class="tabla-producto">

                <tr>
                    <td>Marca</td>
                    <td>marca del producto</td>
                </tr>
                <tr>
                    <td>Modelo</td>
                    <td>modelo del producto</td>
                </tr>
                <tr>
                    <td>Color</td>
                    <td>color del producto</td>
                </tr>
                <tr>
                    <td>Voltaje</td>
                    <td>voltaje del producto</td>
                </tr>

            </table>

        </section>

        <section class="descripcion">

            <h2>Drescripción</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt officiis sit, minus repudiandae similique vero inventore cumque obcaecati, architecto doloremque suscipit sequi, facere corporis dolorum. Dolore neque illo quisquam quia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ex, provident deserunt at doloremque laboriosam quas explicabo veritatis quibusdam voluptatum unde nisi expedita dolore itaque dolor nesciunt optio eaque officiis!
            </p>

        </section>

        <button class="comprar">Comprar Ahora</button>

        <section class="similares">

            <h2>Productos similares</h2>

            <article class="similar1">

                <img class="img-similar" src="/img/logo-png.png" alt="">

                <div class="container-texto">

                    <h3 class="texto-similar">Nombre del producto</h3>

                    <br>   

                    <h3 class="precio">$Precio</h3>

                </div>

            </article>

            <br>

            <article class="similar2">

                <img class="img-similar" src="/img/logo-png.png" alt="">

                <div>

                    <h3 class="texto-similar">Nombre del producto</h3>

                    <br>

                    <h3 class="precio">$Precio</h3>

                </div>

            </article>
        </section>

    </main>

    <footer>
        <img src="" alt="">
        <div class="footer_info">
            <div class="footer_info_space">
                <i></i>
                <a href="//">Contacto</a>
            </div>
            <div class="footer_info_space">
                <i></i>
                <a href="//">Redes Sociales</a>
            </div>
            <div class="footer_info_space">
                <i></i>
                <a href="registro">Registro</a>
            </div>
            <div class="footer_info_space">
                <i></i>
                <a href="login">Inicio de sesión</a>
            </div>
        </div>
    </footer>
</body>
</html>