<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <!---main--->   
 <main>
    <!---------------------------------------------Sección Mi carrito------------------------------------------------>
    <section class="cart_seccion">
     <h2 class="mi_carrito"> <img src="/img/cart_icono.png"  class="micart_icono" alt="">  Mi carrito</h2>
            
                 <div class="artic_cart"> 
                        <div><h2><img src="/img/alicate.jpg" class="productscart_img" alt= "Producto del carrito"> <a href="" class="titulo_cart">Titulo de Producto </a></h2></div> 
                            <div><a href="" class= "eliminar"> eliminar</a></div>
                 </div>
                 <div class="artic_cart">
                        <div><h2> <img src="/img/martillo.jpg" class="productscart_img" alt= "Producto del carrito"> <a href="" class="titulo_cart">Titulo de Producto </a></h2></div>
                            <div><a href="" class= "eliminar"> eliminar</a></div>
                 </div>
                  <div class="artic_cart">
                        <div><h2><img src="/img/destornillador.jpg" class="productscart_img" alt= "Producto del carrito"> <a href="" class="titulo_cart">Titulo de Producto </a></h2></div>
                            <div><a href="" class= "eliminar"> eliminar</a></div>
                  </div>
                  
    </section>
 </main>
         <!---Footer-->
         <%- include('partials/footer.ejs') %>

</body>


</html>