
 <%- include('partials/head.ejs')  %>
<body>
     <%- include('partials/header.ejs')  %> 
    <header>
            </section>
            <section class="mobile_bar">
                <i class="fa-solid fa-bars"></i>
            </section>
        </div>
    </header>

    <section class="capturaDatos">
        <form action="" method="post" encty="multipart/form-data" class="">
            <div>
                <label for="nombre">Nombre *</label>
                <br>
                <input type="text" name="nombre" placeholder="Indique su nombre" class="Datos">

            </div>
            <div>
                <label for="apellido">Apellido</label>
                <br>
                <input type="text" name="apellido" placeholder="Indique su apellido" class="Datos">

            </div>

            <div>
                <label for="usuario">Usuario</label>
                <br>
                <input type="text" name="usuario" placeholder="Cre치 tu nombre de usuario" class="Datos">

            </div>

            <div>
                <label for="email">Email</label>
                <br>
                <input type="email" name="email" placeholder="Indique su email" class="Datos">

            </div>
            <div>
                <label for="email">Contrase침a</label>
                <br>
                <input type="password" name="Contrase침a" placeholder="Ingresa tu contrase침a" class="Datos">

            </div>
            <div>
                <button class="boton">REGISTRARSE</button>


            </div>


        </form>

    </section>
   <%- include('partials/footer.ejs')  %>
   <h3>efasdfsafs</h3>
</body>

</html>
</body>

</html> 