
<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs') %>
            <header>
                </section>
                <section class="mobile_bar">
                    <i class="fa-solid fa-bars"></i>
                </section>
                </div>
            </header>
            <main class="register_main">
            <form action="/usuarios/register" method="post" encty="multipart/form-data" class="register_form">
                <div id="Formulario">
                    <h1>Formulario de Registro</h1>
                    <label for="nombre">Nombre *</label>
                    <br>
                    <input type="text" name="nombre" placeholder="Indique su nombre" class="Datos">
                    <label for="apellido">Apellido</label>
                    <br>
                    <input type="text" name="apellido" placeholder="Indique su apellido" class="Datos">
                    <label for="usuario">Usuario</label>
                    <br>
                    <input type="text" name="usuario" placeholder="Creá tu nombre de usuario" class="Datos">
                    <label for="email">Email</label>
                    <br>
                    <input type="email" name="email" placeholder="Indique su email" class="Datos">
                    <br>
                    <div id="Button">
                    <button class="boton">REGISTRARSE</button>
                    </div>
                </div>
            </form>
        </main>
            <%- include('partials/footer.ejs') %>
                <h3>efasdfsafs</h3>
    </body>

</html>
</body>

</html>