<footer>
    <div class="footer_container">
        <div class="footer_logo">
            <a href="/"><img src="/img/logo-png.png" alt="" class="footer_logo_img"></a>
            <div class="footer_nav">
                <ul>
                    <a href="/">
                        <li>Inicio</li>
                    </a>
                    <a href="/">
                        <li>Contacto</li>
                    </a>
                  
                    <a href="/users/login">
                        <li>Inicio de sesión</li>
                    </a>
                    <a href="/users/personal">
                        <li>Personal</li>
                    </a>
                    
                </ul>
            </div>
        </div>
        <div class="footer_about">
            <h4>Sobre la compañía</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nesciunt molestias fuga ipsa, vero
                adipisci consectetur autem, repudiandae unde minima dolore natus ea inventore qui repellendus id,
                quo odit quas.</p>
            <div class="footer_socials">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>
<script>
    const dropdownOpen = document.getElementById('dropdown_menu');
    const closeButton = document.getElementById('close_button');
    const mobile = document.getElementById('mobile_bar');
    const submenuParent = document.getElementById('cat_drop');
    const submenu = document.getElementById('cat_sub_menu');
    document.addEventListener('DOMContentLoaded', function() {
        mobile.addEventListener('click', function(e) {
            console.log('mobile clickeado')
            e.preventDefault();
            dropdownOpen.classList.add('not_hidden');
            dropdownOpen.classList.remove('hidden');
        });

        closeButton.addEventListener('click', function(e) {
            console.log('close clickeado')
            e.preventDefault();
            if (dropdownOpen.classList.contains('not_hidden')) {
            dropdownOpen.classList.remove('not_hidden');
            dropdownOpen.classList.add('hidden');
            }
        });
        submenuParent.addEventListener('click', function(e) {
            console.log('close clickeado')
            e.preventDefault();
            submenu.style.display = 'block'
        });
    });
</script>
