<header>
    <div class="header_content">
        <section class="top_bar">
            <div class="logo"><a href="/"><img src="/img/logo-png.png" alt="" class="logo_img"></a></div>
            <div class="top_bar_search">
                <form action="/products/search" method="get" class="header_form">
                    <input type="text" name="query" class="input_search_text">
                    <input type="submit" value="Buscar" class="input_search_main">
                </form>
            </div>
            <div>
                <nav>
                    <ul>
                        <a href="/">
                            <li>Inicio</li>
                        </a>
                        <a href="/">
                            <li>Sobre Nosotros</li>
                        </a>
                        <a href="/">
                            <li>Contáctanos</li>
                        </a>
                        <a href="/users/register">
                            <li>Registrarse</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="top_bar_icons"><i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-user"></i>
            </div>
        </section>
        <section class="bottom_bar">
                <a href="/products">Productos</a>
            <div class="category_dropdown">
                <label for="category_dropdown"> Categorías<i class="fa-solid fa-chevron-down"></i></label>
                    <select name="category_dropdown" id="category_dropdown" class="category_header" onchange='window.location.href=this.value'>
                        <option value=""></option>
                        <option value="/products/category/1">Electrodomésticos</option>
                        <option value="/products/category/2">Herramientas</option>
                        <option value="/products/category/3">Industrial</option>
                        <option value="/products/category/4">Jardinería</option>
                        <option value="/products/category/5">Protección</option>
                        <option value="/products/category/6">Construcción</option>
                    </select>
            </div>
        </section>
        <section class="mobile_bar" id="mobile_bar">
            <i class="fa-solid fa-bars"></i>
            <div class="dropdown_menu" id="dropdown_menu">
                <div class="close_button" id="close_button"><i class="fa-solid fa-xmark"></i></div>
                <ul class="drop">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Productos</a></li>
                    <li class="cat_drop"><a href="">Categorías <i class="fa-solid fa-chevron-down"></i></a>
                        <ul class="cat_sub_menu">
                        <li><a href="/products/category/1">Electrodomésticos</a> </li>
                        <li><a href="/products/category/2">Herramientas</a></li>
                        <li><a href="/products/category/3">Industrial</a></li>
                        <li><a href="/products/category/4">Jardinería</a></li>
                        <li><a href="/products/category/5">Protección</a></li>
                        <li><a href="/products/category/6">Construcción</a></li>
                        </ul>
                    </li>
                    <li><a href="/users/login">Iniciar sesión</a></li>
                    <li><a href="/users/register">Registrate</a></li>
                    <li><a href="/users/personal">Personal</a></li>
                </ul>
            </div>
        </section>
    </div>
</header>