<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_home.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style_footer.css">
    <link rel="stylesheet" href="/css/style_register.css">
    <link rel="stylesheet" href="/css/style_cart.css">
    <link rel="stylesheet" href="/css/style_edit_create.css">
    <link rel="stylesheet" href="/css/style_product.css">
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/style_product_detail.css">
    <link rel="stylesheet" href="/css/style_personal.css">
    <title>Home | Ferretería Belgrano</title>
</head>