<header>
    <div class="header_content">
        <section class="top_bar">
            <div class="logo"><a href="/"><img src="/img/logo-png.png" alt="" class="logo_img"></a></div>
            <div class="top_bar_search">
                <form action="/products/search" method="get" class="header_form">
                    <input type="text" name="query" class="input_search_text">
                    <input type="submit" value="Buscar" class="input_search_main">
                </form>
            </div>
            <div>
                <nav>
                    <ul>
                        <a href="/">
                            <li>Inicio</li>
                        </a>
                        <a href="/">
                            <li>Sobre Nosotros</li>
                        </a>
                        <a href="/">
                            <li>Contáctanos</li>
                        </a>
                        <a href="/users/register">
                            <li>Registrarse</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="top_bar_icons"><i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-user"></i>
            </div>
        </section>
        <section class="bottom_bar">
                <a href="/products">Productos</a>

            <label for="">Categorías
                <i class="fa-solid fa-chevron-down"></i>
                <select name="" id="" class="category_header">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </label>

        </section>
        <section class="mobile_bar">
            <i class="fa-solid fa-bars"></i>
        </section>
    </div>
</header>